<div class="loader" *ngIf="isloading">
</div>
<div class="container-fluid" *ngIf="!isloading">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="check">
              <div class="check">
                <div class="">
                  <h4 class="card-title mrg-top-5">Addons &nbsp; &nbsp;</h4>
                </div>
                <div class="">
                  <input type="text" class="form-control" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Addon" />
                </div>
              </div>
              <div class="button">
                  <div class="submit_comon_btn">
                    <a routerLink="/admin/item-addon/create" class="btn submit_btn">ADD NEW</a>
                  </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="table-overflow">
              <table class="table table-hover">
                <tbody *ngIf="category_list.length == 0 && isloading == false">
                  <tr>
                    <td colspan="6">
                      <div class="nodata">
                        <p class="text-center font-size-22"><i class="ei-sad"></i></p>
                        <p class="text-center">No Addon found!</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="category_list.length > 0">
                  <ng-container *ngFor="let category of category_list | filter : searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                    <tr>
                      <td class="categoryImageWrapper">
                        <img src="{{category.icon}}" class="img" style="height:50px" />
                      </td>
                      <td>
                        <span>{{category.category}}</span>
                      </td>
                      <td>
                        <span innerHTML="{{category.description}}"></span>
                      </td>
                      <td class="submit_comon_btn manage_list text-right">
                        <a routerLink="/admin/item-addon/create/{{category.category_ID}}">
                          <span class="mrg-right-5 submit_btn btn-sm btn list_icons">
                            <span class="material-symbols-outlined">edit</span>
                          </span>
                        </a> &nbsp;
    
                        <a href="JavaScript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                          data-original-title="Delete" (click)="deleteCategory(category.category_ID);">
                          <span class="submit_btn_danger btn-sm btn list_icons">
                            <span class="material-symbols-outlined">delete</span>
                          </span>
                        </a>
                      </td>
                    </tr>
                  </ng-container>

                  <tr *ngIf="category_list.length == 0 || category_list.length == ''">
                    <td colspan="6">
                      <div class="nodata">
                        <p class="text-center font-size-22"><i class="ei-sad"></i></p>
                        <p class="text-center">No addons found!</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div *ngIf="category_list.length >= 10">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  