.flex {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.submit_comon_btn button {
    cursor: pointer;
}

.status-check {
    padding: 0;
    margin: 0;
    color: crimson;
    cursor: pointer;
}

/* Styles for the popup overlay */
.popup-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    /* Semi-transparent black background */
}

/* Styles for the popup content */
.popup {
    width: 400px;
    background-color: #fff;
    /* White background for the popup */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup label{
    padding: 1rem 0rem;
    color: #333;
    font-weight: 600;
}

.popup .button{
    width: 23%;
    margin: 0 auto;
    margin-top: 1rem;
}

.button .btn {
    width: 100%;
}

.card-heading span{
    float: right;
    margin-top: -2.5rem;
    cursor: pointer;
}

.lead_start_input {
    padding: 0.3rem 0 0 0;
}