<div class="container-fluid">
  <div class="check">
    <div class="">
      <h4 class="card-title mrg-top-5">Leads &nbsp; &nbsp;</h4>
    </div>
    <div class="row relative">
      <div class="" style="padding-top: 0">
        <input
          class="dashboard_form-control btn submit_btn btnDate"
          type="text"
          ngxDaterangepickerMd
          [(ngModel)]="schedule_date"
          [showCustomRangeLabel]="true"
          [alwaysShowCalendars]="true"
          [ranges]="ranges"
          [linkedCalendars]="true"
          [showClearButton]="true"
          (rangeClicked)="rangeClicked($event)"
          (datesUpdated)="datesUpdated($event)"
          placeholder="Filter By Date"
          readonly
        />
      </div>
      <div class="select">
        <select
          name="statusFilter"
          [(ngModel)]="statusId"
          (change)="statusFilter()"
          class="btn submit_btn"
          style="padding-right: 32px; width: auto;"
        >
          <option value="">Select Status</option>
          <option
            [ngValue]="status.status_id"
            *ngFor="let status of statusList"
          >
            {{ status.status }}
          </option>
        </select>
      </div>
      <div style="margin-left: auto;">
        <a class="btn submit_btn" routerLink="add">Add Lead </a>
      </div>
    </div>
    <div class="row space-between relative" style="padding-top: 1rem;">
      <div class="flex-50" *ngIf="leadsList.length == 0">
        <div class="noLeadData">
          <h2>Whoops...No Data Found...🙁</h2>
        </div>
      </div>
      <div class="flex-50" *ngIf="leadsList.length > 0">
        <div
          class="lead-card"
          *ngFor="let lead of leadsList | paginate: { itemsPerPage: 10, currentPage: p }"
          (click)="getDetails(lead.lead_ID)"
        >
          <div class="box-border" [class.active]="lead.lead_ID == detailObj.lead_ID">
            <div class="flex space-between align-center" >
              <div class="flex align-center">
                <!-- <div><span class="material-symbols-outlined"> person </span></div> -->
                <div>
                  <p class="name">{{ lead.name }}</p>
                </div>
              </div>
              <div class="flex align-center">
                <div>
                  <span class="material-symbols-outlined"> detector_status </span>
                </div>
                <div>
                  <p>{{ lead.status }}</p>
                </div>
              </div>
            </div>
            <div class="flex align-center">
              <div><span class="material-symbols-outlined"> mail </span></div>
              <div>
                <p>{{ lead.email }}</p>
              </div>
            </div>
            <div class="flex align-center">
              <div>
                <span class="material-symbols-outlined"> phone_iphone </span>
              </div>
              <div>
                <p>{{ lead.phone }}</p>
              </div>
            </div>
            <div class="flex align-center">
              <div>
                <span class="material-symbols-outlined"> apartment </span>
              </div>
              <div>
                <p>{{ lead.company_name }}</p>
              </div>
            </div>
            <div class="flex align-center">
              <div>
                <span class="material-symbols-outlined"> chat_bubble </span>
              </div>
              <div>
                <p innerHTML="{{ lead.message }}"></p>
              </div>
            </div>
            <div
              class="socialLinks flex space-between align-center"
              style="padding: 1rem"
            >
              <div class="mail" style="width: 33%; text-align: center; text-align: center; color: #333; font-size: 2rem; font-weight: 700;">
                <a href="mailto:{{lead.email}}">
                  <span class="material-symbols-outlined" >
                    mail
                  </span>
                </a>
              </div>
              <div class="watsapp" style="width: 33%;  text-align: center; text-align: center; color: #333; font-size: 1.5rem; font-weight: 700;">
                <a href="https://wa.me/{{lead.phone}}" target="_blank">
                  <i class="fa-brands fa-whatsapp"></i>
                </a>
              </div>
              <div class="call" style="width: 33%;  text-align: center; color: #333; font-size: 2rem; font-weight: 700;">
                <a href="tel:{{lead.phone}}">
                  <span class="material-symbols-outlined"> call </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-45">
        <div class="leadDetail" *ngIf="!leadFlag" style="text-align: center; vertical-align: middle;">
          <h2>No Record Selected...</h2>
        </div>
        <div class="leadDetail" *ngIf="leadFlag">

          <div class="flex space-between align-center">
            <div class="flex align-center">
              <!-- <div><span class="material-symbols-outlined"> person </span></div> -->
              <div>
                <p class="name"> {{ detailObj.name }}</p>
              </div>
            </div>
            <div class="flex align-center">
              <div>
                <span class="material-symbols-outlined"> detector_status </span>
              </div>
              <div>
                <p>Status : {{ detailObj.status }}</p>
              </div>
            </div>
          </div>
          <div class="flex align-center">
            <div><span class="material-symbols-outlined"> mail </span></div>
            <div>
              <p>Email : {{ detailObj.email }}</p>
            </div>
          </div>
          <div class="flex align-center">
            <div><span class="material-symbols-outlined"> call </span></div>
            <div>
              <p>Contact No: {{ detailObj.phone }}</p>
            </div>
          </div>          
          <div class="flex align-center">
            <div>
              <span class="material-symbols-outlined"> apartment </span>
            </div>
            <div>
              <p> Comapany Name: {{ detailObj.company_name }}</p>
            </div>
          </div>

          <div class="flex align-center">
            <div>
              <span class="material-symbols-outlined"> real_estate_agent </span>
            </div>
            <div>
              <p> Property Code : {{ detailObj.property_code }}</p>
            </div>
          </div>

          <div class="flex align-center">
            <div>
              <span class="material-symbols-outlined"> king_bed </span>
            </div>
            <div>
              <p> Rooms : {{ detailObj.rooms }}</p>
            </div>
          </div>
          <div class="flex align-center">
            <div>
              <span class="material-symbols-outlined"> chat_bubble </span>
            </div>
            <div>
              <p innerHTML="{{ detailObj.message }}"> Message : </p>
            </div>
          </div>

          <div class="readmore" *ngIf="readMore">
            <div class="flex align-center">
              <div>
                <span class="material-symbols-outlined"> public </span>
              </div>
              <div>
                <p>Country : {{ detailObj.country }}</p>
              </div>
            </div>
            <div class="flex align-center">
              <div>
                <span class="material-symbols-outlined"> flag </span>
              </div>
              <div>
                <p> State : {{ detailObj.state }}</p>
              </div>
            </div>
            <div class="flex align-center">
              <div>
                <span class="material-symbols-outlined"> near_me </span>
              </div>
              <div>
                <p>City : {{ detailObj.city ? detailObj.city : "no record found" }}</p>
              </div>
            </div>
            <div class="flex align-center">
              <div>
                <span class="material-symbols-outlined"> numbers </span>
              </div>
              <div>
                <p> Zip Code : {{ detailObj.zip_code }}</p>
              </div>
            </div>
            <div class="flex align-center">
              <div>
                <span class="material-symbols-outlined"> schedule </span>
              </div>
              <div>
                <p>Time : {{ detailObj.timestemp }}</p>
              </div>
            </div>
            <div class="flex align-center">
              <div>
                <span class="material-symbols-outlined"> calendar_month </span>
              </div>
              <div>
                <p>FOllow Up Date : {{ detailObj.next_followup_date }}</p>
              </div>
            </div>
            <div class="flex">
              <div>
                <span class="material-symbols-outlined"> reviews </span>
              </div>
              <div>
                <p>Follow Up Comment : {{ detailObj.followup_comments }}</p>
              </div>
            </div>

            <div class="listing-view" *ngIf="detailObj.items.length">
              <h2>Products</h2>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of detailObj.items">
                  <span class="list-span-name">{{ (item.name)?item.name:item.item }}</span>
                  <span>{{ item.dimension }}" X {{ item.height }}" X {{ item.width }}" &nbsp;&nbsp;&nbsp; ${{ item.price }}</span>
                </li>
              </ul>
            </div>

            <div class="listing-view" *ngIf="detailObj.laminates.length">
              <h2>Finishes</h2>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let laminate of detailObj.laminates">
                  <span class="list-span-name">{{ laminate.laminate }}</span>
                  <span>{{ laminate.size }}</span>
                </li>
              </ul>
            </div>

            <div class="listing-view" *ngIf="detailObj.floorings.length">
              <h2>Floorings</h2>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let flooring of detailObj.floorings">{{ flooring.item }}</li>
              </ul>
            </div>

            <div class="listing-view" *ngIf="detailObj.addons.length">
              <h2>Addons</h2>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let addon of detailObj.addons">{{ addon.item }}</li>
              </ul>
            </div>

          </div>

          <div class="readmorelink" style="padding-bottom: 10px;">
            <a href="javascript:;" (click)="readMoreDetails()">{{ (readMore)?'Read Less':'Read More' }}</a>
          </div>
          <hr>

          <div class="followup-history">
            <div class="plus-followup-flex">
              <div class="plus">
                +
              </div>
              <div class="button">
                <button
                  type="submit"
                  class="btn submit_btn"
                  (click)="handleChange(detailObj.lead_ID)"
                >
                  Follow Up
                </button>
              </div>
            </div>
            <div class="history-card" *ngFor="let history of detailObj.histroy">
              <div class="line-container">
                <div class="date">
                  <p>{{history.timestamp}}</p>
                </div>
                <div class="lead-status">
                  <p style="font-size: 1.3rem; color: black; font-weight: 700;">{{history.status}}</p>
                  <p>{{history.followup_comments}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="leadsList.length >= 10">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="handleStatus" class="popup-overlay" (click)="hidePopup()">
  <div class="popup" (click)="$event.stopPropagation()">
    <form name="form" (ngSubmit)="submitFollowUp()" #followUpForm="ngForm">
      <div class="">
        <div class="card-heading border bottom">
          <h4 class="card-title">Follow Up Details</h4>
          <span (click)="hidePopup()" class="material-symbols-outlined">
            close
          </span>
        </div>

        <label for="status">Status</label>
        <select
          class="form-control"
          name="status"
          [(ngModel)]="leadsObj.status_id"
          #status="ngModel"
        >
          <option value="">Select Status</option>
          <option [ngValue]="list.status_id" *ngFor="let list of statusList">
            {{ list.status }}
          </option>
        </select>

        <label for="followup_comments">Follow Up Comment</label>
        <textarea
          class="form-control"
          name="followup_comments"
          [(ngModel)]="leadsObj.followup_comments"
          id="followup_comments"
          cols="30"
          rows="10"
          #followup_comments="ngModel"
        ></textarea>

        <label for="next_followup_date">Follow Up Date</label>
        <input
          class="form-control"
          id="next_followup_date"
          type="date"
          name="next_followup_date"
          [(ngModel)]="leadsObj.next_followup_date"
          #next_followup_date="ngModel"
        />
        <div class="button">
          <button type="submit" class="btn submit_btn">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
