<div class="container-fluid">
  <div class="page-title">
    <h4>Items</h4>
  </div>
  <form
    name="form"
    (ngSubmit)="itemForm.form.valid && saveItem(itemForm.form)"
    #itemForm="ngForm"
  >
    <div class="d-flex">
      <div class="col-7">
        <div class="col" style="padding-left: 0">
          <div class="card">
            <div class="card-heading border bottom">
              <h4 class="card-title">Basic Details</h4>
            </div>
            <div class="card-block">
              <div class="">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="item">Item Name*</label>
                          <input
                            type="text"
                            class="form-control"
                            name="item"
                            [(ngModel)]="itemObj.item"
                            #item="ngModel"
                            [ngClass]="{
                              'is-invalid': itemForm.submitted && item.invalid
                            }"
                            required
                          />
                          <div
                            *ngIf="itemForm.submitted && item.invalid"
                            class="invalid-feedback"
                          >
                            <div *ngIf="item.errors.required">
                              Item Name is required
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input
                            type="text"
                            class="form-control"
                            name="title"
                            [(ngModel)]="itemObj.title"
                            #title="ngModel"
                            [ngClass]="{
                              'is-invalid': itemForm.submitted && title.invalid
                            }"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="meta_keywords">Tags</label>
                          <tag-input
                            name="tags"
                            class="form-control tags_wrap"
                            (onTextChange)="setKeywords()"
                            [addOnBlur]="true"
                            [(ngModel)]="itemObj.tagList"
                            #tags="ngModel"
                          >
                          </tag-input>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="parent_category">Hotel Category</label>
                          <select
                            class="form-control"
                            name="parent_category"
                            [(ngModel)]="itemObj.hotel_category"
                            #parent_category="ngModel"
                          >
                            <option value="">Select Hotel Category</option>
                            <ng-container *ngFor="let list of nestedCategory">
                              <option
                                [value]="list.category_ID"
                                [disabled]="list.children.length > 0"
                              >
                                {{ list.category }}
                              </option>
                              <!-- <option *ngFor="let child of list.children" [value]="child.category_ID">
                                              &nbsp; -{{ child.category }}
                                          </option> -->
                              <ng-container *ngFor="let child of list.children">
                                <option
                                  [value]="child.category_ID"
                                  [disabled]="child.children.length > 0"
                                >
                                  &nbsp;&nbsp; --{{ child.category }}
                                </option>

                                <ng-container *ngFor="let c of child.children">
                                  <option [value]="c.category_ID">
                                    &nbsp;&nbsp;&nbsp;&nbsp; ---{{ c.category }}
                                  </option>

                                  <!-- <ng-container *ngFor="let c of c.children">
                                                <option [value]="c.category_ID">
                                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ----{{ c.category }}
                                                </option>
                                              </ng-container> -->
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="status">Status*</label>
                          <select
                            class="form-control"
                            name="status"
                            id=""
                            [(ngModel)]="itemObj.status"
                            #status="ngModel"
                          >
                            <option value="">Select Status</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row d-flex">
                      <div class="col">
                        <div class="form-group">
                          <label for="price">price</label>
                          <input
                            type="number"
                            class="form-control"
                            name="price"
                            [(ngModel)]="itemObj.price"
                            #price="ngModel"
                            [ngClass]="{
                              'is-invalid': itemForm.submitted && price.invalid
                            }"
                            required
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-group">
                          <label for="sale_price">sale_price</label>
                          <input
                            type="number"
                            class="form-control"
                            name="sale_price"
                            [(ngModel)]="itemObj.sale_price"
                            #sale_price="ngModel"
                            [ngClass]="{
                              'is-invalid':
                                itemForm.submitted && sale_price.invalid
                            }"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="short_description"
                            >short_description</label
                          >
                          <!-- <ckeditor [editor]="Editor" [(ngModel)]="itemObj.short_description" name="short_description" #short_description="ngModel"></ckeditor> -->
                          <ck-editor
                            skin="moono-lisa"
                            language="en"
                            [config]="configEditor"
                            name="keypoints"
                            #keypoints="ngModel"
                            [(ngModel)]="itemObj.short_description"
                            [className]="
                              itemForm.submitted && !itemObj.keypoints
                                ? 'error-editor'
                                : ''
                            "
                          >
                          </ck-editor>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="description">Long Description</label>
                          <!-- <ckeditor [editor]="Editor" [(ngModel)]="itemObj.description" name="description" #description="ngModel"></ckeditor> -->
                          <ck-editor
                            skin="moono-lisa"
                            language="en"
                            [config]="configEditor"
                            name="keypoints"
                            #keypoints="ngModel"
                            [(ngModel)]="itemObj.description"
                            [className]="
                              itemForm.submitted && !itemObj.keypoints
                                ? 'error-editor'
                                : ''
                            "
                          >
                          </ck-editor>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="padding-left: 0">
          <div class="card">
            <div class="card-heading border bottom">
              <h4 class="card-title">Size Details</h4>
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col">
                  <div
                    *ngFor="let size of sizeList; let i = index"
                    style="
                      box-shadow: 0 0 10px rgba(135, 134, 134, 0.2);
                      padding: 1rem;
                      margin-bottom: 1rem;
                    "
                  >
                    <div class="col" style="padding-left: 0">
                      <div class="form-group">
                        <label for="name{{ i }}">Name</label>
                        <input
                          type="text"
                          class="form-control"
                          [name]="'name' + i"
                          [(ngModel)]="size.name"
                          #name="ngModel"
                          [ngClass]="{
                            'is-invalid': itemForm.submitted && name.invalid
                          }"
                          required
                        />
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="col" style="padding-left: 0">
                        <div class="form-group">
                          <label for="height{{ i }}">Height</label>
                          <input
                            type="number"
                            class="form-control"
                            [name]="'height' + i"
                            [(ngModel)]="size.height"
                            #height="ngModel"
                            [ngClass]="{
                              'is-invalid': itemForm.submitted && height.invalid
                            }"
                            [(ngModel)]="size.height"
                            required
                          />
                        </div>
                      </div>
                      <div class="col" style="padding-left: 0">
                        <div class="form-group">
                          <label for="width{{ i }}">Width</label>
                          <input
                            type="number"
                            class="form-control"
                            [name]="'width' + i"
                            [(ngModel)]="size.width"
                            #width="ngModel"
                            [ngClass]="{
                              'is-invalid': itemForm.submitted && width.invalid
                            }"
                            required
                          />
                        </div>
                      </div>
                      <div class="col" style="padding-left: 0">
                        <div class="form-group">
                          <label for="dimension{{ i }}">Dimension</label>
                          <input
                            type="number"
                            class="form-control"
                            [name]="'dimension' + i"
                            [(ngModel)]="size.dimension"
                            #dimension="ngModel"
                            [ngClass]="{
                              'is-invalid':
                                itemForm.submitted && dimension.invalid
                            }"
                            [(ngModel)]="size.dimension"
                            required
                          />
                        </div>
                      </div>
                      <div class="col" style="padding-left: 0">
                        <div class="form-group">
                          <label for="price{{ i }}">Price</label>
                          <input
                            type="number"
                            class="form-control"
                            [name]="'price' + i"
                            [(ngModel)]="size.price"
                            #price="ngModel"
                            [ngClass]="{
                              'is-invalid': itemForm.submitted && price.invalid
                            }"
                            [(ngModel)]="size.price"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div
                      class="col"
                      style="margin-bottom: 2rem; padding-left: 0"
                    >
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="category{{i}}">Item Image</label>
                            <div class="clearfix"></div>
                            <div class="default_imageiconcategory">
                              <img
                                [src]="
                                  size.image
                                    ? size.image
                                    : 'assets/images/default.png'
                                "
                                class="img categoryiconimg"
                                default="assets/images/default.png"
                              />
                            </div>
                            <div class="clearfix"></div>
                            <label for="img-upload{{i}}" class="pointer">
                              <span class="btn choose_btn btn-default display-block no-mrg-btm">
                                Choose file
                              </span>

                              <input
                              type="file"
                              id="img-upload{{i}}"
                              maxlength=""
                              class="d-none"
                              name="img-upload{{i}}"
                              accept="image/*"
                              (change)="handleInputChangeItemImage($event, i)"
                              />

                            </label>
                          </div>
                        </div>
                      </div>

                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="deleteSize(i)"
                      >
                        Delete
                      </button>
                    </div>
                  </div>

                  <button
                    type="button"
                    class="btn submit_btn"
                    (click)="adddSize()"
                  >
                    Add More
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="padding-left: 0">
          <div class="card">
            <div class="card-heading border bottom">
              <h4 class="card-title">Image Uploads</h4>
            </div>
            <div class="card-block">
              <div class="row d-flex justify-content-between">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="category">Banner Image</label>
                        <div class="clearfix"></div>
                        <div class="default_imageiconcategory">
                          <img
                            [src]="
                              itemObj.banner_image
                                ? itemObj.banner_image
                                : 'assets/images/default.png'
                            "
                            class="img categoryiconimg"
                            default="assets/images/default.png"
                          />
                        </div>
                        <div class="clearfix"></div>
                        <label for="img-icon-upload" class="pointer">
                          <span
                            class="btn choose_btn btn-default display-block no-mrg-btm"
                            >Choose file</span
                          >
                          <input
                            type="file"
                            id="img-icon-upload"
                            maxlength=""
                            class="d-none"
                            name="icon"
                            accept="image/*"
                            (change)="handleInputChangeBannerImage($event)"
                          />
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="category">Mobile Image</label>
                        <div class="clearfix"></div>
                        <div class="default_imageiconcategory">
                          <img
                            [src]="
                              itemObj.banner_image_mobile
                                ? itemObj.banner_image_mobile
                                : 'assets/images/default.png'
                            "
                            class="img categoryiconimg"
                            default="assets/images/default.png"
                          />
                        </div>
                        <div class="clearfix"></div>
                        <label for="img-upload" class="pointer">
                          <span
                            class="btn choose_btn btn-default display-block no-mrg-btm"
                            >Choose file</span
                          >
                          <input
                            type="file"
                            id="img-upload"
                            maxlength=""
                            class="d-none"
                            name="img-upload"
                            accept="image/*"
                            (change)="handleInputChangeMobileImage($event)"
                          />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="category">Images</label>
                        <div class="clearfix"></div>
                        <div
                          class="default_imageiconcategory"
                          *ngFor="let image of itemObj.images"
                        >
                          <img
                            [src]="
                              image.image
                                ? image.image
                                : 'assets/images/default.png'
                            "
                            class="img categoryiconimg"
                          />
                        </div>
                        <div class="clearfix"></div>
                        <label for="images" class="pointer">
                          <span
                            class="btn choose_btn btn-default display-block no-mrg-btm"
                            >Choose file</span
                          >
                          <input
                            type="file"
                            id="images"
                            maxlength=""
                            class="d-none"
                            name="images"
                            accept="image/*"
                            (change)="item_images($event)"
                            multiple
                          />
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row"></div>

                  <div class="col">
                    <div class="form-group">
                      <label for="category">Illustration Pdf</label>
                      <div class="clearfix"></div>
                      <div
                        class="default_imageiconcategory"
                        *ngIf="!itemObj.illustration_pdf"
                      >
                        <img
                          [src]="
                            itemObj.illustration_pdf
                              ? itemObj.illustration_pdf
                              : 'assets/images/pdf.png'
                          "
                          class="img categoryiconimg"
                          default="assets/images/pdf.png"
                        />
                      </div>
                      <div
                        class="default_imageiconcategory"
                        *ngIf="itemObj.illustration_pdf"
                      >
                        <a
                          href="{{ itemObj.illustration_pdf }}"
                          target="_blank"
                          style="
                            color: #333;
                            text-decoration: none;
                            padding: 1rem 0.75rem;
                            margin: 1rem 0rem;
                          "
                          >View PDF</a
                        >
                      </div>
                      <div class="clearfix"></div>
                      <label for="pdf" class="pointer">
                        <span
                          class="btn choose_btn btn-default display-block no-mrg-btm"
                          >Choose file</span
                        >
                        <input
                          type="file"
                          id="pdf"
                          maxlength=""
                          class="d-none"
                          name="pdf"
                          (change)="illustration_pdf($event)"
                        />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="">
          <div class="col">
            <div class="card">
              <div class="card-heading border bottom">
                <h4 class="card-title">SEO Details</h4>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="meta_description">meta_description</label>
                      <input
                        type="text"
                        class="form-control"
                        name="meta_description"
                        [(ngModel)]="itemObj.meta_description"
                        #meta_description="ngModel"
                        [ngClass]="{
                          'is-invalid':
                            itemForm.submitted && meta_description.invalid
                        }"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="meta_keywords">meta_keywords</label>
                      <input
                        type="text"
                        class="form-control"
                        name="meta_keywords"
                        [(ngModel)]="itemObj.meta_keywords"
                        #meta_keywords="ngModel"
                        [ngClass]="{
                          'is-invalid':
                            itemForm.submitted && meta_keywords.invalid
                        }"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="row d-flex">
                  <div class="col">
                    <div class="form-group">
                      <label for="tag_line">tag_line</label>
                      <input
                        type="text"
                        class="form-control"
                        name="tag_line"
                        [(ngModel)]="itemObj.tag_line"
                        #tag_line="ngModel"
                        [ngClass]="{
                          'is-invalid': itemForm.submitted && tag_line.invalid
                        }"
                        required
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="sort_order">sort_order</label>
                      <input
                        type="number"
                        class="form-control"
                        name="sort_order"
                        [(ngModel)]="itemObj.sort_order"
                        #sort_order="ngModel"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Item category -->

        <div class="">
          <div class="col">
            <div class="card">
              <div class="card-heading border bottom">
                <h4 class="card-title">Item Category</h4>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="item_category">Item Category</label>
                      <select
                        class="form-control"
                        name="item_category"
                        [(ngModel)]="itemObj.category"
                        #item_category="ngModel"
                      >
                        <option value="">Select Item Category</option>
                        <ng-container *ngFor="let list of itemCategory">
                          {{ list.category }}

                          <option
                            [value]="list.category_ID"
                            [disabled]="list.children.length > 0"
                          >
                            {{ list.category }}
                          </option>
                          <ng-container *ngFor="let child of list.children">
                            <option
                              [value]="child.category_ID"
                              [disabled]="child.children.length > 0"
                            >
                              &nbsp;&nbsp; --{{ child.category }}
                            </option>

                            <ng-container *ngFor="let c of child.children">
                              <option [value]="c.category_ID">
                                &nbsp;&nbsp;&nbsp;&nbsp; ---{{ c.category }}
                              </option>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="col">
            <div class="card">
              <div class="card-heading border bottom">
                <h4 class="card-title">Item Add On</h4>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <select
                        class="form-control"
                        name="item_addon"
                        [(ngModel)]="itemObj.addon"
                        #item_addon="ngModel"
                      >
                        <option value="0">Select Item Addon</option>
                        <ng-container *ngFor="let list of itemAddon">
                          {{ list.category }}

                          <option
                            [value]="list.category_ID"
                            [disabled]="list.children.length > 0"
                          >
                            {{ list.category }}
                          </option>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="col">
            <div class="card">
              <div class="card-heading border bottom">
                <h4 class="card-title">Hardwares</h4>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col">
                    <div class="form-group" *ngFor="let item of hardwares_List">
                      <label for="hardware_{{ item.hardware_ID }}">
                        <input
                          type="checkbox"
                          name="hardware_{{ item.hardware_ID }}"
                          [(checklist)]="itemObj.hardware_IDs"
                          [checklistValue]="item.hardware_ID"
                          id="hardware_{{ item.hardware_ID }}"
                          class="rounded-checkbox"
                        />
                        <span class="commonSpan"
                          >{{ item.hardware }}&nbsp;</span
                        >
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="col">
            <div class="card">
              <div class="card-heading border bottom">
                <h4 class="card-title">Laminates</h4>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col">
                    <div class="form-group" *ngFor="let item of laminates_List">
                      <label for="laminate_{{ item.laminate_ID }}">
                        <input
                          type="checkbox"
                          name="laminate_{{ item.laminate_ID }}"
                          [(checklist)]="itemObj.laminate_IDs"
                          [checklistValue]="item.laminate_ID"
                          id="laminate_{{ item.laminate_ID }}"
                          class="rounded-checkbox"
                        />
                        <span class="commonSpan"
                          >{{ item.laminate }}&nbsp;</span
                        >
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <button type="submit" class="btn submit_btn">{{isLoading ? 'Submitting...' : 'Submit'}}</button>

  </form>
</div>
