<div class="container-fluid">
  <div class="page-title">
    <h4>Hardwares</h4>
  </div>
  <form name="form" (ngSubmit)="submitHardware()" #createHarwareform="ngForm">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-heading border bottom">
            <h4 class="card-title">Basic Details</h4>
          </div>
          <div class="card-block">
            <div class="mrg-top-20">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="hardware">Hardware Name*</label>
                        <input type="text" class="form-control" name="hardware" [(ngModel)]="hardwareObj.hardware"
                          #hardware="ngModel" [ngClass]="{ 'is-invalid': createHarwareform.submitted && hardware.invalid }"
                          required />
                        <div *ngIf="createHarwareform.submitted && hardware.invalid" class="invalid-feedback">
                          <div *ngIf="hardware.errors.required">hardware Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="status">Status*</label>
                        <input type="text" class="form-control" name="status" [(ngModel)]="hardwareObj.status"
                          #status="ngModel" [ngClass]="{ 'is-invalid': createHarwareform.submitted && status.invalid }"
                          required />
                        <div *ngIf="createHarwareform.submitted && status.invalid" class="invalid-feedback">
                          <div *ngIf="status.errors.required"> Status is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="brand_ID">Brand*</label>
                        <input type="text" class="form-control" name="brand_ID" [(ngModel)]="hardwareObj.brand_ID"
                          #brand_ID="ngModel" [ngClass]="{ 'is-invalid': createHarwareform.submitted && brand_ID.invalid }"
                          required />
                        <div *ngIf="createHarwareform.submitted && status.invalid" class="invalid-feedback">
                          <div *ngIf="status.errors.required"> Status is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="color_code">Color Code</label>
                        <input type="text" class="form-control" name="color_code" [(ngModel)]="hardwareObj.color_code"
                          #color_code="ngModel" [ngClass]="{ 'is-invalid': createHarwareform.submitted && color_code.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="weight">Weight</label>
                        <input type="text" class="form-control" name="weight" [(ngModel)]="hardwareObj.weight"
                          #weight="ngModel" [ngClass]="{ 'is-invalid': createHarwareform.submitted && weight.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="stock">Stock</label>
                        <input type="text" class="form-control" name="stock" [(ngModel)]="hardwareObj.stock"
                          #stock="ngModel" [ngClass]="{ 'is-invalid': createHarwareform.submitted && stock.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" name="price" [(ngModel)]="hardwareObj.price"
                          #price="ngModel" [ngClass]="{ 'is-invalid': createHarwareform.submitted && price.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Long Description</label>
                         <ckeditor [editor]="Editor" [(ngModel)]="hardwareObj.description" name="description" #description="ngModel"></ckeditor>
                        <ck-editor skin="moono-lisa" language="en" [config]="configEditor" name="keypoints"
                          #keypoints="ngModel" [(ngModel)]="hardwareObj.description"
                          [className]="(createHarwareform.submitted && !hardwareObj.keypoints) ? 'error-editor' : '' ">
                        </ck-editor>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-heading border bottom">
            <h4 class="card-title">Image Uploads</h4>
          </div>
          <div class="card-block">
            <div class="mrg-top-20">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="category">Icon Image</label>
                        <div class="clearfix"></div>
                        <div class="default_imageiconcategory">
                          <img [src]="hardwareObj.image" class="img categoryiconimg" default="assets/images/profile.jpg" />
                        </div>
                        <div class="clearfix"></div>
                        <label for="img-icon-upload" class="pointer">
                          <span class="btn choose_btn btn-default display-block no-mrg-btm">Choose
                            file</span>
                          <input type="file" id="img-icon-upload" maxlength="" class="d-none" name="icon"
                            accept="image/*" (change)="handleInputChange($event)">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>

  </form>
</div>
