<div class="container-fluid">
  <div class="page-title">
    <h4>Collections</h4>
  </div>
  <form name="form" (ngSubmit)="
      collectionForm.form.valid && saveCollection(collectionForm.form)
    " #collectionForm="ngForm">
    <div class="d-flex" style="gap: 2rem;">

      <div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-heading border bottom">
                <h4 class="card-title">Basic Details</h4>
              </div>
              <div class="card-block">
                <div class="">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="collection">Collection Name*</label>
                            <input type="text" class="form-control" name="collection"
                              [(ngModel)]="collectionObj.collection" #collection="ngModel" [ngClass]="{
                              'is-invalid':
                                collectionForm.submitted && collection.invalid
                            }" required />
                            <div *ngIf="collectionForm.submitted && collection.invalid" class="invalid-feedback">
                              <div *ngIf="collection.errors.required">
                                Collection Name is required
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 d-flex">
                          <div class="form-group col" style="padding-left: 0">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" name="price" [(ngModel)]="collectionObj.price"
                              #price="ngModel" [ngClass]="{
                              'is-invalid':
                                collectionForm.submitted && price.invalid
                            }" required />
                          </div>
                          <div class="form-group col" style="padding: 0">
                            <label for="sale_price">Sale Price</label>
                            <input type="number" class="form-control" name="sale_price"
                              [(ngModel)]="collectionObj.sale_price" #sale_price="ngModel" [ngClass]="{
                              'is-invalid':
                                collectionForm.submitted && sale_price.invalid
                            }" required />
                          </div>
                        </div>
                      </div>

                      <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="sale_price">Sale Price</label>
                          <input
                            type="number"
                            class="form-control"
                            name="sale_price"
                            [(ngModel)]="collectionObj.sale_price"
                            #sale_price="ngModel"
                            [ngClass]="{
                              'is-invalid':
                                collectionForm.submitted && sale_price.invalid
                            }"
                            required
                          />
                        </div>
                      </div>
                    </div> -->

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="short_description">Short Description</label>
                            <!-- <ckeditor
                            [editor]="Editor"
                            [(ngModel)]="collectionObj.short_description"
                            name="short_description"
                            #short_description="ngModel"
                          ></ckeditor> -->
                            <ck-editor skin="moono-lisa" language="en" [config]="configEditor" name="short_description"
                              #keypoints="ngModel" [(ngModel)]="collectionObj.short_description" [className]="
                              collectionForm.submitted && !collectionObj.keypoints
                                ? 'error-editor'
                                : ''
                            ">
                            </ck-editor>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="description">Long Description</label>
                            <!-- <ckeditor
                            [editor]="Editor"
                            [(ngModel)]="collectionObj.description"
                            name="description"
                            #description="ngModel"
                          ></ckeditor> -->
                            <ck-editor skin="moono-lisa" language="en" [config]="configEditor" name="keypoints"
                              #keypoints="ngModel" [(ngModel)]="collectionObj.description" [className]="
                              collectionForm.submitted && !collectionObj.keypoints
                                ? 'error-editor'
                                : ''
                            ">
                            </ck-editor>
                          </div>
                        </div>
                      </div>

                      <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="status">Status</label>
                          <input
                            type="number"
                            class="form-control"
                            name="status"
                            [(ngModel)]="collectionObj.status"
                            #status="ngModel"
                            [ngClass]="{
                              'is-invalid':
                                collectionForm.submitted && status.invalid
                            }"
                            required
                          />
                        </div>
                      </div>
                    </div> -->

                      <!-- Accordian -->

                      <!-- <div class="row">
                      <div class="col-md-12">
                        <h3 style="padding-bottom: 1rem">Details</h3>
  
                        <div
                          class="row"
                          *ngFor="let accordion of accordionList; let i = index"
                        >
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="title{{ i }}">Title</label>
                              <input
                                type="text"
                                class="form-control"
                                [name]="'title' + i"
                                [(ngModel)]="accordion.title"
                                #title="ngModel"
                                [ngClass]="{
                                  'is-invalid':
                                    collectionForm.submitted && title.invalid
                                }"
                                required
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="text{{ i }}">Accordion Text</label>
                              <input
                                type="text"
                                class="form-control"
                                [name]="'text' + i"
                                #text="ngModel"
                                [ngClass]="{
                                  'is-invalid':
                                    collectionForm.submitted && text.invalid
                                }"
                                [(ngModel)]="accordion.text"
                                required
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <button
                              type="button"
                              class="btn submit_btn"
                              (click)="addAccordion()"
                            >
                              Add More
                            </button>
  
                            <button
                              type="button"
                              class="btn btn-danger"
                              (click)="deleteAccordion(i)"
                            >
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </div> -->

                      <!-- Accordian End -->

                      <!-- <div class="row">
                      <div class="col-md-12">
                        <h2>Category :</h2>
                        <div class="form-group" *ngFor="let item of categoryList">
                          <label for="item_{{ item.category_ID }}">
                            <input
                              type="checkbox"
                              name="item_{{ item.category_ID }}"
                              [(checklist)]="collectionObj.category_ID"
                              [checklistValue]="item.category_ID"
                              id="item_{{ item.category_ID }}"
                              class="rounded-checkbox"
                            />
                            <span class="commonSpan"
                              >{{ item.category }}&nbsp;</span
                            >
                          </label>
                        </div>
                      </div>
                    </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-heading border bottom">
                <h4 class="card-title">Image Uploads</h4>
              </div>
              <div class="card-block">
                <div class="mrg-top-20">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12 d-flex">
                          <div class="form-group col" style="padding-left: 0">
                            <label for="category">Banner Image</label>
                            <div class="clearfix"></div>
                            <div class="default_imageiconcategory">
                              <img [src]="(collectionObj.banner_image_full)?collectionObj.banner_image_full:'assets/images/default.png'" class="img categoryiconimg"
                                default="assets/images/default.png" />
                            </div>
                            <div class="clearfix"></div>
                            
                            <label for="img-icon-upload" class="pointer">
                              <span class="btn choose_btn btn-default display-block no-mrg-btm">Choose file</span>
                              <input type="file" id="img-icon-upload" maxlength="" class="d-none" name="icon"
                                accept="image/*" (change)="handleInputChangeBannerImage($event)" />
                            </label>
                          </div>
                          <div class="form-group col" style="padding: 0">
                            <label for="category">Specification Image</label>
                            <div class="clearfix"></div>
                            <div class="default_imageiconcategory">
                              <img [src]="(collectionObj.specification_image_full)?collectionObj.specification_image_full:'assets/images/default.png'" class="img categoryiconimg"
                                default="assets/images/default.png" />
                            </div>
                            <div class="clearfix"></div>
                            <label for="img-upload" class="pointer">
                              <span class="btn choose_btn btn-default display-block no-mrg-btm">Choose file</span>
                              <input type="file" id="img-upload" maxlength="" class="d-none" name="img-upload"
                                accept="image/*" (change)="handleInputChangeSpecificationImage($event)" />
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 d-flex">
                          <div class="form-group col" style="padding-left: 0">
                            <label for="category">Images</label>
                            <div class="clearfix"></div>
                            <div class="default_imageiconcategory" *ngFor="let image of collectionObj.images">
                              <img [src]="(image.image_full)?image.image_full:'assets/images/default.png'" class="img categoryiconimg"
                                default="assets/images/profile.jpg" />
                            </div>
                            <div class="clearfix"></div>
                            <label for="images" class="pointer">
                              <span class="btn choose_btn btn-default display-block no-mrg-btm">Choose file</span>
                              <input type="file" id="images" maxlength="" class="d-none" name="images" accept="image/*"
                                (change)="item_images($event)" multiple />
                            </label>
                          </div>
                          <div class="form-group col" style="padding: 0">
                            <label for="category">Collection Pdf</label>
                            <div class="clearfix"></div>
                            <div class="default_imageiconcategory" *ngIf="collectionObj.brochure">
                              <a href="{{collectionObj.brochure}}" target="_blank" style="color: #333; text-decoration: none; padding: 1rem 0.75rem; margin: 1rem 0rem;">View PDF</a>
                            </div>
                            <div class="clearfix"></div>
                            <label for="pdf" class="pointer">
                              <span class="btn choose_btn btn-default display-block no-mrg-btm">Choose file</span>
                              <input type="file" id="pdf" maxlength="" class="d-none" name="pdf"
                                (change)="brochure($event)" />
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-heading border bottom">
                <h4 class="card-title">SEO Details</h4>
              </div>
              <div class="card-block">
                <div class="">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="meta_description">Meta Description</label>
                            <input type="text" class="form-control" name="meta_description"
                              [(ngModel)]="collectionObj.meta_description" #meta_description="ngModel" [ngClass]="{
                              'is-invalid':
                                collectionForm.submitted &&
                                meta_description.invalid
                            }" required />
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="meta_keywords">Meta Keywords</label>
                            <input type="text" class="form-control" name="meta_keywords"
                              [(ngModel)]="collectionObj.meta_keywords" #meta_keywords="ngModel" [ngClass]="{
                              'is-invalid':
                                collectionForm.submitted && meta_keywords.invalid
                            }" required />
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="tag_line">Tag Line</label>
                            <input type="text" class="form-control" name="tag_line" [(ngModel)]="collectionObj.tag_line"
                              #tag_line="ngModel" [ngClass]="{
                              'is-invalid':
                                collectionForm.submitted && tag_line.invalid
                            }" required />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-heading">
                <h4 class="card-title">Select Items</h4>
              </div>
              <div class="card-block" style="padding-top: 0;">
                <div class="row">
                  <div class="col" style="height: 300px; overflow: auto;">
                    <div class="row">
                      <div class="col">
                        <!-- <h2>Select Items :</h2> -->
                        <div class="">
                          <table class="table table-hover">
                            <tbody>
                              <tr *ngFor="let item of itemList">
                                <td>
                                  <label for="item_{{ item.category_ID }}">
                                    <input type="checkbox" name="item_{{ item.item_ID }}"
                                      [(checklist)]="collectionObj.item_IDs" [checklistValue]="item.item_ID"
                                      id="item_{{ item.item_ID }}" class="rounded-checkbox" />
                                  </label>
                                </td>
                                <td>
                                  <img src="{{ item.banner_image_full }}" class="img" style="height: 30px" />
                                </td>
                                <td>
                                  <span class="commonSpan" style="text-transform: uppercase">{{ item.item
                                    }}&nbsp;</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-heading">
                <h4 class="card-title">Select Laminates</h4>
              </div>
              <div class="card-block" style="padding-top: 0;">
                <div class="row">
                  <div class="col" style="height: 300px; overflow: auto;">
                    <div class="row">
                      <div class="col">
                        <!-- <h2>Select Items :</h2> -->
                        <div class="">
                          <table class="table table-hover">
                            <tbody>
                              <tr *ngFor="let laminate of laminatesList">
                                <td>
                                  <label for="laminate{{ laminate.laminate_ID }}">
                                    <input type="checkbox" name="item_{{ laminate.laminate_ID }}"
                                      [(checklist)]="collectionObj.laminate_IDs" [checklistValue]="laminate.laminate_ID"
                                      id="item_{{ laminate.laminate_ID }}" class="rounded-checkbox" />
                                  </label>
                                </td>
                                <td>
                                  <img src="{{ laminate.image_full }}" class="img" style="height: 30px; width: 30px;" />
                                </td>
                                <td>
                                  <span class="commonSpan" style="text-transform: uppercase">{{ laminate.laminate
                                    }}&nbsp;</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-heading">
                <h4 class="card-title">Select Hardwares</h4>
              </div>
              <div class="card-block" style="padding-top: 0;">
                <div class="row">
                  <div class="col" style="height: 300px; overflow: auto;">
                    <div class="row">
                      <div class="col">
                        <!-- <h2>Select Items :</h2> -->
                        <div class="">
                          <table class="table table-hover">
                            <tbody>
                              <tr *ngFor="let hardware of hardwaresList">
                                <td>
                                  <label for="hardware{{ hardware.hardware_ID }}">
                                    <input type="checkbox" name="item_{{ hardware.hardware_ID }}"
                                      [(checklist)]="collectionObj.hardware_IDs" [checklistValue]="hardware.hardware_ID"
                                      id="item_{{ hardware.hardware_ID }}" class="rounded-checkbox" />
                                  </label>
                                </td>
                                <td>
                                  <img src="{{ hardware.image_full }}" class="img" style="height: 30px; width: 30px;" />
                                </td>
                                <td>
                                  <span class="commonSpan" style="text-transform: uppercase">{{ hardware.hardware
                                    }}&nbsp;</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn submit_btn">Submit</button>
  </form>
</div>