.rounded-checkbox {
    width:1rem;
    height:1rem;
    /* border-radius: 50%; */
    vertical-align: middle;
    border: 1px solid rgb(155, 141, 166);
    background-color: rgb(247, 246, 248);;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  .rounded-checkbox:checked {
    appearance: auto;
    /* clip-path: circle(50% at 50% 50%); */
    background-color: blue;
  }
  .commonSpan{
    vertical-align: middle;
    padding-left: 1.5rem;
    color: #333;
  }
  
  h2{
    padding: 1rem 0;
  }

  .default_imageiconcategory {
    position: relative;
  }
  .removeImage {
    position: absolute;
    color: red;
    top: 0;
    right: 0;
    cursor: pointer;
  }