<div class="container-fluid">
  <div class="page-title">
    <h4>Laminates</h4>
  </div>
  <form name="form" (ngSubmit)="submitLaminate()" #createLaminateForm="ngForm">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-heading border bottom">
            <h4 class="card-title">Basic Details</h4>
          </div>
          <div class="card-block">
            <div class="mrg-top-20">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="laminate">Laminate Name*</label>
                        <input type="text" class="form-control" name="laminate" [(ngModel)]="laminateObj.laminate"
                          #laminate="ngModel" [ngClass]="{ 'is-invalid': createLaminateForm.submitted && laminate.invalid }"
                          required />
                        <div *ngIf="createLaminateForm.submitted && laminate.invalid" class="invalid-feedback">
                          <div *ngIf="laminate.errors.required">Laminate Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="status">Status*</label>
                        <select class="form-control" name="status" id=""  [(ngModel)]="laminateObj.status" #status="ngModel">
                          <option value="">Select Status</option>
                          <option value="1">Active</option>
                          <option value="0">Inactive</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="brandId">Brand ID</label>
                        <input type="number" class="form-control" name="brandId" [(ngModel)]="laminateObj.brand_ID"
                          #brandId="ngModel" [ngClass]="{ 'is-invalid': createLaminateForm.submitted && brandId.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="color">Color</label>
                        <input type="text" class="form-control" name="color" [(ngModel)]="laminateObj.color"
                          #color="ngModel" [ngClass]="{ 'is-invalid': createLaminateForm.submitted && color.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="size">Size</label>
                        <input type="text" class="form-control" name="size" [(ngModel)]="laminateObj.size"
                          #size="ngModel" [ngClass]="{ 'is-invalid': createLaminateForm.submitted && size.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="stock">Stock</label>
                        <input type="number" class="form-control" name="stock" [(ngModel)]="laminateObj.stock"
                          #stock="ngModel" [ngClass]="{ 'is-invalid': createLaminateForm.submitted && stock.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="laminate_code">Laminate Code</label>
                        <input type="text" class="form-control" name="laminate_code" [(ngModel)]="laminateObj.laminate_code"
                          #laminate_code="ngModel" [ngClass]="{ 'is-invalid': createLaminateForm.submitted && laminate_code.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="finishes">Finishes</label>
                        <input type="text" class="form-control" name="finishes" [(ngModel)]="laminateObj.finishes"
                          #finishes="ngModel" [ngClass]="{ 'is-invalid': createLaminateForm.submitted && finishes.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="thickness">Thickness</label>
                        <input type="text" class="form-control" name="thickness" [(ngModel)]="laminateObj.thickness"
                          #thickness="ngModel" [ngClass]="{ 'is-invalid': createLaminateForm.submitted && thickness.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" name="price" [(ngModel)]="laminateObj.price"
                          #price="ngModel" [ngClass]="{ 'is-invalid': createLaminateForm.submitted && price.invalid }"
                          required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Long Description</label>
                         <!-- <ckeditor [editor]="Editor" [(ngModel)]="laminateObj.description" name="description" #description="ngModel"></ckeditor> -->
                        <ck-editor skin="moono-lisa" language="en" [config]="configEditor" name="keypoints"
                          #keypoints="ngModel" [(ngModel)]="laminateObj.description"
                          [className]="(createLaminateForm.submitted && !laminateObj.keypoints) ? 'error-editor' : '' ">
                        </ck-editor>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-heading border bottom">
            <h4 class="card-title">Image Uploads</h4>
          </div>
          <div class="card-block">
            <div class="mrg-top-20">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="category">Icon Image</label>
                        <div class="clearfix"></div>
                        <div class="default_imageiconcategory">
                          <img [src]="laminateObj.image ? laminateObj.image : 'assets/images/default.png'" class="img categoryiconimg" default="assets/images/profile.jpg" />
                        </div>
                        
                        <div class="clearfix"></div>
                        <label for="img-icon-upload" class="pointer">
                          <span class="btn choose_btn btn-default display-block no-mrg-btm">Choose
                            file</span>
                          <input type="file" id="img-icon-upload" maxlength="" class="d-none" name="icon"
                            accept="image/*" (change)="handleInputChange($event)">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn submit_btn">Submit</button>

  </form>
</div>
