<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-block">
                  <div class="pull-left">
                    <h4 class="card-title mrg-top-5">Collections &nbsp; &nbsp;</h4>
                  </div>
                  <div class="pull-left">
                    <input type="text" class="form-control" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search collections" />
                  </div>
                  <div class="pull-right">
                      <div class="submit_comon_btn ty10 forms_strip">
                        <a routerLink="/admin/collections/create" class="btn submit_btn">ADD NEW</a>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="table-overflow">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                <th>Collections</th>
                                <th></th>
                              </tr>
                          </thead>
                          <tbody *ngIf="collectionList.length == 0 && isloading == false">
                              <tr>
                                <td colspan="6">
                                  <div class="nodata">
                                    <p class="text-center font-size-22"><i class="ei-sad"></i></p>
                                    <p class="text-center">No collection found!</p>
                                  </div>
                                </td>
                              </tr>
                          </tbody>
                          <tbody dragula="VAMPIRES" [(dragulaModel)]="collectionList" *ngIf="collectionList.length > 0" >
                              <tr *ngFor="let collection of collectionList | filter:searchText" [class] = "{'inactive' : collection.status == 0}">

                                <td class="categoryImageWrapper">
                                    <img src="{{collection.banner_image}}" class="img" style="height:50px" />
                                </td>
                                <td>
                                  <span>{{collection.collection}}</span>
                                </td>
                                <td>
                                  <span innerHTML="{{collection.short_description}}"></span>
                                </td>

                                <td class="submit_comon_btn manage_list text-right">
                                  <a routerLink="/admin/collections/create/{{collection.collection_ID}}">
                                    <span class="mrg-right-5 submit_btn btn-sm btn list_icons">
                                      <span class="material-symbols-outlined">edit</span>
                                    </span>
                                  </a> &nbsp;

                                  <a href="JavaScript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Delete" (click)="deleteCollection(collection.collection_ID);">
                                    <span class="submit_btn_danger btn-sm btn list_icons">
                                      <span class="material-symbols-outlined">delete</span>
                                    </span>
                                  </a>
                                </td>
                              </tr>
                              <tr *ngIf="collectionList.length == 0">
                                <td colspan="6">
                                  <div class="nodata">
                                    <p class="text-center font-size-22"><i class="ei-sad"></i></p>
                                    <p class="text-center">No collections found!</p>
                                  </div>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
